* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

.root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.root.with-background {
  background-size: cover;
  background-position: center;
}
